*{
    padding:0px;
    margin:0px;
}

html, body {
    width: 100%;
    height: 100%;
    
}

.navbar{
    background-color: rgb(172, 176, 185);
    padding: 15px;
}

.navdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    font-size: 30px;
    font-weight: 500;
    color: rgb(48, 48, 158);
}

li{
    list-style: none;
    display: inline-block;
}

li a{
    color: rgb(179, 46, 46);
    font-size: large;
    margin: 5px;
}
